.header_content{
    background-image: url("https://wallpaperaccess.com/full/3919865.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh
}

